body {
    background-color: teal;
}

#btnCal {
    position: fixed;
    left: 20px;
    top: 140px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 25%;
    background-color: #262626;
    transition: 0.2s all;
    cursor: pointer;
}

#btnCal:active {
    transform: scale(0.98);
}

#dateLbl {
    position: absolute;
    top: 10px;
    left: 25%;
    font-weight: bold;
    font-size: medium;
    color: whitesmoke;
}

#dayLbl {
    position: absolute;
    left: 40%;
    top: 15px;
    font-weight: bold;
    font-size: medium;
    color: whitesmoke;
}